!!! Strict
%html
  %head
    %title
    = stylesheet_link_tag "reset", "application", "#{@controller.controller_name}"
    = javascript_include_tag :defaults
    = javascript_include_tag "#{@controller.controller_name}"
  %body{ :class => "#{@controller.controller_name}-#{@controller.action_name}"}
    %div#header
    %div#menu
      %ul
        %li= link_to "Home", root_url
    %div#main-container
      = render :partial => "/layouts/flash", :locals => { :flash => flash }      
      = @content_for_layout
      
  
  
  